<div class="static-comments">
  <h3 class="comments-title">2 Comments</h3>
  <p class="comments-note"><em>These are archived comments from a previous comment system.</em></p>
<div class="comment comment-depth-0">
  <div class="comment-header">
    <span class="comment-author">ihommani</span>
    <span class="comment-date">October 10, 2016 at 21:51</span>
  </div>
  <div class="comment-body"><p>Hi David,</p><p>How are you ?<br>That is a nice article you wrote.<br>I would add another point I missed as a Junior dev: <br>Don't hesitate to dig in the source code of libraries written by clever guys/girls.</p><p>Like you said finding a mentor is important, but you don't always have this oppurtunity at work. <br>One way to substitute it is, in my opinion, to dig into source code. For instance how Google implements a MultiMap (see Guava) ?<br>How datas are treated in Jackson ? and so on. <br>Not only we learn from a code built by a comunity we also have a deeper understanding of how things work.<br>Last but not least we quickly feel the desire to contribute. :)</p></div>
  <div class="comment-replies">
<div class="comment comment-depth-1">
  <div class="comment-header">
    <span class="comment-author">David Hatanian</span>
    <span class="comment-date">October 23, 2016 at 10:13</span>
  </div>
  <div class="comment-body"><p>Hey   , that's very true!</p></div>
</div>
  </div>
</div>
</div>